.topBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 3.6rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem calc((100vw - $max-content) / 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $background;
    z-index: 2000;
    transition: top 0.3s;

    &[data-show=false] {
        top: -3.6rem;
    }

    .logo {
        height: 100%;

        img {
            height: 100%;
        }

    }

    .avatar {
        border-radius: 50%;
        overflow: hidden;
        height: 85%;
        aspect-ratio: 1/1;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        svg {
            fill: rgba($context, 0.5);
            transition: fill 0.3s;

            &:hover {
                fill: $context;
            }
        }
    }
}