.dropdownMenu {
    position: relative;
    width: calc(1em * var(--maxWidth));
    height: 1.8em;
    padding: 0 0.75em;
    box-sizing: content-box;

    .title {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25em;

        >* {
            cursor: pointer;
        }

        .icon {
            transition: transform 0.3s;
        }
    }

    .mask {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        border-radius: 0.3em;
        overflow: hidden;
        transition: height 0.3s;

        .container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0.4em 0;
            background-color: $primary;

            .option {
                width: 100%;
                text-align: center;
                height: 2em;
                line-height: 2em;
                transition: color 0.3s, background-color 0.3s;

                &:hover {
                    color: $primary;
                    background-color: $background;
                }

                a {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    &:has(input:checked),
    &:hover {
        .icon {
            transform: rotate(180deg);
        }

        .mask {
            height: calc(2em * var(--count) + 0.8em);
        }
    }
}