.detailBox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #8888;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

    &[data-show=true] {
        opacity: 1;
        pointer-events: initial;
    }

    .box {
        width: $max-content;
        box-sizing: border-box;
        padding: 2rem;
        border-radius: 1rem;
        max-height: 80vh;
        overflow-y: auto;
        background-color: $background;

        h2 {
            margin: 0;
        }
    }
}